/*Sección About*/
section.about {
    margin-top: 2.5rem;
    padding-top: 5rem;
}

.about__container {
    width: 65%;
}

.about__title {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    font-weight: 700;
    font-size: 2rem;
    line-height: 38px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.about__paragraph {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    color: #464646;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 1200px */
@media screen and (max-width: 1200px) {}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Tablet*/
@media screen and (max-width: 768px) {

    /*Sección sobre mi*/
    section.about {
        margin-top: 1.5rem;
        padding-top: 2rem;
        /* background-color: #EAF2FD; */
    }

    .about__container {
        width: 99%;
    }

    .about__title {
        font-size: 1.3rem;
        margin-top: 0;
        margin-bottom: 0.3rem;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Mobile*/
@media screen and (max-width: 425px) {}