/* Experiencia Académica*/

section.academic {
    width: calc(100% + 25%);
    margin-top: 7rem;
    position: relative;
    top: 0;
    left: -10vw;
    padding: 3rem 0 5rem;
    background-color: #1e1e1c;
    border-top-left-radius: 110px;
    border-bottom-right-radius: 110px;
    justify-content: space-between;
}

.academic__title {
    background: #22c1c3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #22c1c3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 0 1rem 2rem;
    font-family: 'Raleway', sans-serif;
    width: 50%;
    margin-left: 10%;
    color: #464646;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 10px;
}

.academic__courses {
    flex-wrap: wrap;
    width: calc(100% - 20%);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

.academic__courses__box {
    text-align: left;
    justify-content: center;
}

.academic__courses__list {
    padding-left: 0;
    width: 368px;
    height: 286px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 6px 10px 10px 4px rgba(0, 0, 0, 0.336);
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
}

.academic__courses__list:hover {
    transform: scale(1.050);
}

.academic__courses__item__title {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.3rem;
}

.academic__courses__item__subtitle {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 1rem;
}

.academic__courses__item__title h4,
.academic__courses__item__subtitle p {
    margin: 0.5rem 0;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 1200px */
@media screen and (max-width: 1200px) {}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Tablet*/
@media screen and (max-width: 768px) {

    /*Formación Académica*/
    section.academic {
        /* width: calc(100% + 25%); */
        width: 100vw;
        margin-top: 2rem;
        position: relative;
        top: 0;
        left: -3vw;
        padding: 3rem 0 3rem;
        background-color: #1e1e1c;
        border-top-left-radius: 110px;
        border-bottom-right-radius: 110px;
        justify-content: space-between;
    }

    .academic h2 {
        text-align: center;
    }

    .academic__title {
        padding: 1rem;
        width: calc(100% - 200px);
        margin-left: auto;
        margin-right: auto;
        font-size: 1.3rem;
    }

    .academic__courses {
        width: calc(100% - 3%);
        margin-left: auto;
        margin-right: auto;
    }

    .academic__courses__list {
        width: 224px;
        height: 118px;
    }

    .academic__courses__item__img {
        transform: scale(0.5);
    }

    .academic__courses__item__title {
        font-size: 1rem;
    }

    .academic__courses__item__subtitle {
        font-size: 0.9rem;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Mobile*/
@media screen and (max-width: 425px) {

    /*Formación Académica*/
    .academic__title {
        padding: 1rem;
        width: calc(100% - 150px);
        margin-left: auto;
        margin-right: auto;
        font-size: 1.3rem;
    }

    .academic__courses__list {
        width: 296px;
        height: 118px;
        border-radius: 8px;
    }
}