/*Sección Hobbies*/

section.hobbies {
    margin-top: 7rem;
}

.hobbies__title {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.hobbies__line {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hobbies__box {
    border-radius: 10px;
    box-shadow: 6px 10px 10px 4px rgba(0, 0, 0, 0.16);
    background-color: #fec61b;
    width: 176px;
    height: 174px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.hobbies__box ul {
    padding: 0 0 0 1rem;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 1200px */
@media screen and (max-width: 1200px) {}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Tablet*/
@media screen and (max-width: 768px) {
    /*Hobbies*/
    section.hobbies {
        margin-top: 3rem;
    }

    .hobbies__title {
        font-size: 1.3rem;
    }

    .hobbies__box {
        box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.16);
        width: 224px;
        height: 118px;
        margin-bottom: 2rem;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Mobile*/
@media screen and (max-width: 425px) {
    /*Hobbies*/
    .hobbies__title {
        font-size: 1.7rem;
    }

    .hobbies__box {
        border-radius: 5%;
        box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.16);
        width: 156px;
        height: 118px;
    }
}