/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --col-negro: #1e1e1c;
    --col-amarillo: #fec61b;
    --col-degradado: linear-gradient(45deg, rgba(253, 187, 45, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.container {
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu {
    /* background-color: #1e1e1c; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__header {
    display: flex;
    align-items: center;
}

.menu__header h3,
.menu__header img {
    color: var(--col-negro)
}

.menu__title {
    padding: .5rem;
    color: #464646;
}

.menu__title h3 {
    font-size: 1rem;
}

.menu__list {
    display: flex;
}

.menu__list a {
    color: #464646;
}

.menu__list__item {
    padding-right: 1.5rem;
    z-index: 99;
}

.menu__list__item a {
    color: var(--col-negro);
}

.menu__list__item a:hover {
    color: var(--cor-de-link);
    font-weight: 700;
}

.menu__list__item__contato {
    display: none;
}

/*Sección Title*/

section.title {
    /* background-color: #1e1e1c; */
    border-bottom-right-radius: 150px;
}

.title__div {
    padding: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.background-edit {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 85%;
    background: rgb(253, 187, 45);
    background: linear-gradient(45deg, rgba(253, 187, 45, 1) 35%, rgba(0, 212, 255, 1) 100%);
    border-bottom-left-radius: 150px;
    opacity: 80%;
    box-shadow: 13px 10px 64px -1px rgba(0, 0, 0, 0.603);
    z-index: -99;
}

/* .background-edit-izq{
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vw - 38.3%);
    width: 10%;
    background-color: var(--col-negro)
} */
.title__profile {
    border-radius: 100%;
    /* height: 100%; */
    width: calc(100% - 15%);
    /* height: calc(100% - 35%); */
    border: 15px solid #fec61b;
}

.title__container {
    margin-right: 2rem;
    width: 55%;
}

.title__bio {
    font-family: 'Raleway', sans-serif;
    font-size: 3.25rem;
    color: #464646;
    font-weight: 700;
    color: var(--col-negro);
}

.title__bio strong {
    color: #fec61b;
}

.title__subsection {
    font-family: 'Raleway', sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    color: #464646;
    line-height: normal;
    color: var(--col-negro);
}

.title__network {
    display: flex;
    padding: 0;
}

.title__network__item {
    margin-right: 1.5rem;
    padding: 15px;
    background-color: var(--col-amarillo);
    border-radius: 6px;
    transition: .25s all ease-in-out;
}

.title__network__item a {
    color: black;
    font-weight: 500
}

.title__network__item:hover {
    background-color: var(--col-negro);
    color: white;
}

.title__network img {
    margin-left: .2rem;
    transform: scale(1.5);
}

/*Sección About*/
section.about {
    margin-top: 2.5rem;
    padding-top: 5rem;
    /* background-color: #EAF2FD; */
}

.about__container {
    width: 65%;
}

.about__title {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    font-weight: 700;
    font-size: 2rem;
    line-height: 38px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.about__paragraph {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    color: #464646;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
}

/*Sección skills*/

section.skills {
    margin-top: 3rem;
}

.skills__title {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: center;
}

.skills__line {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills__box {
    border-radius: 10px;
    box-shadow: 6px 10px 10px 4px rgba(0, 0, 0, 0.16);
    width: 176px;
    height: 174px;
    background-color: #fec61b;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.skills__box ul {
    padding: 0 0 0 1rem;
}

.skills__img {
    margin-bottom: .5rem;
}

/*Sección Hobbies*/

section.hobbies {
    margin-top: 7rem;
}

.hobbies__title {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.hobbies__line {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hobbies__box {
    border-radius: 10px;
    box-shadow: 6px 10px 10px 4px rgba(0, 0, 0, 0.16);
    background-color: #fec61b;
    width: 176px;
    height: 174px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.hobbies__box ul {
    padding: 0 0 0 1rem;
}

/* Experiencia Académica*/

section.academic {
    width: calc(100% + 25%);
    margin-top: 7rem;
    position: relative;
    top: 0;
    left: -10vw;
    padding: 3rem 0 5rem;
    background-color: #1e1e1c;
    border-top-left-radius: 110px;
    border-bottom-right-radius: 110px;
    justify-content: space-between;
}

.academic__title {
    background: #22c1c3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #22c1c3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 0 1rem 2rem;
    font-family: 'Raleway', sans-serif;
    width: 50%;
    margin-left: 10%;
    color: #464646;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 10px;
}

.academic__courses {
    flex-wrap: wrap;
    width: calc(100% - 20%);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

.academic__courses__box {
    text-align: left;
    justify-content: center;
}

.academic__courses__list {
    padding-left: 0;
    width: 368px;
    height: 286px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 6px 10px 10px 4px rgba(0, 0, 0, 0.336);
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
}

.academic__courses__list:hover {
    transform: scale(1.050);
}

.academic__courses__item__title {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.3rem;
}

.academic__courses__item__subtitle {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 1rem;
}

.academic__courses__item__title h4,
.academic__courses__item__subtitle p {
    margin: 0.5rem 0;
}

/* experiencia*/
section.experience {
    padding: 3rem 0 0;
}

.experience__section__title {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.experiencie__box {
    display: flex;
    margin: 4rem 0;
    flex-wrap: wrap;
}

/* DISEÑO REFLEJADO */
.experiencie__box:nth-child(odd) {
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* --------------------------- */
.experience__img {
    margin-right: 1.5rem;
}

.experience__info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
}

.experience__title {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    font-weight: 700;
    font-size: 1.4rem;
    margin: 0;
}

.experience__text {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    font-size: 1rem;
    font-weight: 500;
}

.experience__description {
    display: flex;
}

.experience__repo {
    margin-right: 0.5rem;
}

.experiencia__botao--repo {
    background-color: white;
    font-size: 1rem;
    border-radius: 7px;
    font-weight: 400;
    color: white;
    border: none;
    width: 105px;
    height: 51px;
    background-color: #1e1e1c;
    /* border: 1px solid #1e1e1c; */
    cursor: pointer;
}

.experience__botao--demo {
    background-color: #fdbb2d;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    width: 105px;
    height: 51px;
    color: black;
    cursor: pointer;
}

/*Contacto*/
section.formcontato {
    width: calc(100% - 100px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-content: center;
    background-color: #1e1e1c;
    padding: 7rem 3rem 5rem;
    justify-content: center;
    border-top-right-radius: 90px;
    border-top-left-radius: 90px;
}

.formcontato__contacto {
    display: flex;
    flex-wrap: wrap;
}

.formcontato--esquerda {
    margin-right: 1.5rem;
}

.formcontato__img {
    border-radius: 15px;
    width: 22rem;
}

.formcontato__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.formcontato__subtext {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.2rem;
    width: 40.5vw;
}

.formcontato__form__container {
    width: 40.5vw;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.formcontato__form input,
.formcontato__form textarea {
    border: none;
    border-bottom: 2px solid #312e2e36;
    border-radius: 5px;
    height: 2.5rem;
    padding: 10px 7px 0;
    outline: none;

}

.formcontato__textarea:focus {
    outline: none;
    border-bottom: 3px solid #22c1c3;
}

.formcontato__input:focus {
    outline: none;
    border-bottom: 3px solid #22c1c3;
}

.formcontato__form label {
    opacity: 50%;
    font-size: 1rem;
    position: absolute;
    top: 15px;
    left: 5px;
    color: #000000cc;
    transform: top .3s;
    padding: 1px 5px;
    transition: 0.2s all ease-in-out;
}

.formcontato__form input:focus~label,
.formcontato__form textarea:focus~label {
    top: 5px;
    font-size: 12px;
    opacity: 100%;
    background-color: white;
    color: #2A7AE4;
}

.formcontato__textarea {
    font-size: 1rem;
    resize: none;
}

.formcontato__form__container--textarea {
    margin-top: 1rem;
    position: relative;
}

.formcontato__form__container--textarea textarea {
    width: 40vw;
    height: 7.5rem;
    padding-top: 20px;
}

.formcontato__botao {
    background: #22c1c3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #22c1c3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 7px;
    width: 150px;
    height: 51px;
    color: #464646;
    cursor: pointer;
    transition: .3s all linear;
}

.formcontato__botao:hover {
    background: #fdbb2d;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    border: none;
    width: 150px;
    height: 51px;
}

/*footeer*/

section.footer {
    width: calc(100%);
    margin-left: auto;
    margin-right: auto;
    background: rgb(253, 187, 45);
    background: linear-gradient(45deg, rgba(253, 187, 45, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.footer__rodape {
    text-align: center;
    line-height: .3rem;
    padding: 1.3rem 0;
    color: var(--col-negro);
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 1200px */
@media screen and (max-width: 1200px) {

    .container {
        padding-left: 3%;
        padding-right: 3%;
    }

    /*Menu*/
    .menu__list {
        display: none;
    }

    .menu__list__item__contato {
        display: flex;
    }

    .menu__list__item__contato a {
        z-index: 99;
    }

    /* Selccion Title */
    .title__profile {
        border-radius: 100%;
        width: calc(100% - 80px);
        /* height: calc(100% - 35%); */
        border: 12.5px solid #fec61b;
    }

    .title__container__imagen {
        width: 40%;
    }

    .title__container {
        margin-right: 2rem;
        width: 50vw;
    }

    .title__bio {
        color: var(--col-negro);
        font-size: 2.3rem;
    }

    /* Formulario */
    section.formcontato {
        width: calc(100% - 100px);
        margin-left: auto;
        margin-right: auto;
    }

    .formcontato__img {
        display: none;
    }

    .formcontato__subtext {
        /* font-size: 1rem; */
        width: 82vw;
    }

    .formcontato__form__container {
        justify-content: center;
        width: 80vw;
    }

    .formcontato__form__container--textarea textarea {
        width: 78vw;
        justify-content: center;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Tablet*/
@media screen and (max-width: 768px) {
    .container {
        padding-left: 3%;
        padding-right: 3%;
    }

    /*Menu*/
    .menu__list {
        display: none;
    }

    .menu__list__item__contato {
        display: flex;
    }

    .menu__list__item__contato a {
        z-index: 99;
    }

    /*Titulo*/
    .title__div {
        padding: 1rem 0;
    }

    .title__container__imagen {
        width: 30%;
    }

    .title__container {
        width: 60vw;
        margin-right: 0;
    }

    .title__profile {
        width: calc(100% - 30px);
        border: 8px solid #fec61b;
    }

    .background-edit {
        width: 25%;
        height: 50%;
    }

    .title__bio {
        font-size: 1.4rem;
        color: var(--col-negro);
    }

    .title__subsection {
        font-size: 1rem;
    }

    .title__network__item {
        margin-right: .8rem;
        padding: 10px;
        background-color: white;
        border-radius: 6px;
        transition: .25s all ease-in-out;
    }

    /*Sección sobre mi*/
    section.about {
        margin-top: 1.5rem;
        padding-top: 2rem;
        /* background-color: #EAF2FD; */
    }

    .about__container {
        width: 99%;
    }

    .about__title {
        font-size: 1.3rem;
        margin-top: 0;
        margin-bottom: 0.3rem;
    }

    /*Skills*/
    section.skills {
        margin-top: 2rem;
    }

    .skills__title {
        font-size: 1.3rem;
    }

    .skills__box {
        box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.16);
        width: 224px;
        height: 118px;
        margin-bottom: 2rem;
    }

    /*Hobbies*/
    section.hobbies {
        margin-top: 3rem;
    }

    .hobbies__title {
        font-size: 1.3rem;
    }

    .hobbies__box {
        box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.16);
        width: 224px;
        height: 118px;
        margin-bottom: 2rem;
    }

    /*Formación Académica*/
    section.academic {
        /* width: calc(100% + 25%); */
        width: 100vw;
        margin-top: 2rem;
        position: relative;
        top: 0;
        left: -3vw;
        padding: 3rem 0 3rem;
        background-color: #1e1e1c;
        border-top-left-radius: 110px;
        border-bottom-right-radius: 110px;
        justify-content: space-between;
    }

    .academic h2 {
        text-align: center;
    }

    .academic__title {
        padding: 1rem;
        width: calc(100% - 200px);
        margin-left: auto;
        margin-right: auto;
        font-size: 1.3rem;
    }

    .academic__courses {
        width: calc(100% - 3%);
        margin-left: auto;
        margin-right: auto;
    }

    .academic__courses__list {
        width: 224px;
        height: 118px;
    }

    .academic__courses__item__img {
        transform: scale(0.5);
    }

    .academic__courses__item__title {
        font-size: 1rem;
    }

    .academic__courses__item__subtitle {
        font-size: 0.9rem;
    }

    /*Experiencia Profesional*/
    .experience__section__title {
        font-size: 1.3rem;
    }

    .experience__title {
        font-size: 1rem;
    }

    .experience__text {
        font-size: 0.8rem;
    }

    .experiencie__box {
        margin: 1.5rem 0 3rem;
        /*Cancela el margen de arriba*/
    }

    .experiencie__box:nth-child(odd) {
        flex-direction: row;
    }

    .experience__img {
        margin-right: 0rem;
        width: 100%;
        margin-bottom: 1rem;
    }

    /*Contacto*/
    section.formcontato {
        width: calc(100% - 100px);
        margin-left: auto;
        margin-right: auto;
        padding: 5rem 3rem 5rem;
        justify-content: center;
    }

    .formcontato__img {
        display: none;
    }

    .formcontato__title {
        font-size: 1.3rem;
    }

    .formcontato__subtext {
        font-size: 1rem;
        width: 82vw;
    }

    .formcontato__form__container {
        justify-content: center;
        width: 80vw;
    }

    .formcontato__form__container--textarea textarea {
        width: 78vw;
        justify-content: center;
    }

    /*FooterFooterFooterFooter*/
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*Mobile*/
@media screen and (max-width: 425px) {
    .container {
        padding-left: 3%;
        padding-right: 3%;
        /* background-color: rgba(255, 0, 0, 0.247); */
    }

    /*Menu*/

    /*Titulo*/
    .title__div {
        padding: 1rem 0;
        flex-direction: column;
    }

    .title__container__imagen {
        width: 36vw;
    }

    .title__profile {
        border-radius: 100%;
        border: 7px solid #fec61b;
        z-index: 10;
    }

    .background-edit {
        position: absolute;
        width: 62%;
        height: 36%;
        border-bottom-left-radius: 150px;
    }

    .title__container {
        width: calc(100vw - 4vw);
        z-index: 99;
    }

    .title__bio {
        font-size: 1.7rem;
        color: #464646;
    }

    .title__bio strong {
        color: #fec61b;
    }

    .title__network {
        justify-content: space-around;
    }

    .title__network__item {
        font-size: 0.9rem;
        margin-right: 0rem;
        background-color: var(--col-amarillo);
        border-radius: 6px;
        transition: .25s all ease-in-out;
    }

    .title__network__item a {
        color: black;
        font-weight: 500
    }

    /*Sección sobre mi*/
    section.about {
        margin-top: .5rem;
        padding-top: .5rem;
    }

    .about__title {
        font-size: 1.7rem;
    }

    /*Skills*/
    .skills__title {
        font-size: 1.7rem;
    }

    .skills__box {
        border-radius: 5%;
        box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.16);
        width: 156px;
        height: 118px;
    }

    /*Hobbies*/
    .hobbies__title {
        font-size: 1.7rem;
    }

    .hobbies__box {
        border-radius: 5%;
        box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.16);
        width: 156px;
        height: 118px;
    }

    /*Formación Académica*/
    .academic__title {
        padding: 1rem;
        width: calc(100% - 150px);
        margin-left: auto;
        margin-right: auto;
        font-size: 1.3rem;
    }

    .academic__courses__list {
        width: 296px;
        height: 118px;
        border-radius: 8px;
    }

    /*Experiencia Profesional*/

    /*Contacto*/
    section.formcontato {
        width: 100vw;
        position: relative;
        top: 0;
        left: -3vw;
        padding: 3rem 0 3rem;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        justify-content: center;
    }

    .formcontato--esquerda {
        margin-right: 0rem;
    }

    .formcontato__title {
        font-size: 1.7rem;
    }

    .formcontato__subtext {
        /* margin: 0.2rem; */
        width: 82vw;
    }

    .formcontato__form__container {
        justify-content: center;
        width: 82.5vw;
    }

    .formcontato__form__container--textarea textarea {
        width: 79.5vw;
        justify-content: center;
    }

    /*FooterFooterFooterFooter*/
    section.footer {
        width: 100vw;
        position: relative;
        top: 0;
        left: -3vw;
        padding: .3rem 0 .3rem;
        justify-content: center;
    }
}